@font-face {
  font-family: "CircularSp Arab";
  src: url("../../assets/font/CircularSp-Arab-Book.woff2") format("woff2");
}
@font-face {
  font-family: "CircularSp Bold";
  src: url("../../assets/font/CircularSp-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "CircularSp";
  src: url("../../assets/font/CircularSp-Book.woff2") format("woff2");
}
@font-face {
  font-family: "CircularSp Cyrl";
  src: url("../../assets/font/CircularSp-Cyrl-Book-.woff2") format("woff2");
}
@font-face {
  font-family: "CircularSp Deva";
  src: url("../../assets/font/CircularSp-Deva-Book.woff2") format("woff2");
}
@font-face {
  font-family: "CircularSp Grek";
  src: url("../../assets/font/CircularSp-Grek-Book.woff2") format("woff2");
}
@font-face {
  font-family: "CircularSp Hebr";
  src: url("../../assets/font/CircularSp-Hebr-Book.woff2") format("woff2");
}
@font-face {
  font-family: "CircularSpTitle Black";
  src: url("../../assets/font/CircularSpTitle-Black.woff2") format("woff2");
}
@font-face {
  font-family: "CircularSpTitle Bold";
  src: url("../../assets/font/CircularSpTitle-Bold.woff2") format("woff2");
}
